<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fa fa-project-diagram bg-icon"></i>
      <div class="icon-div">
        <p class="font-bold">Find strategic gaps</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
      <input class="w-90 bg-transparent" type="text" placeholder="Search a company">
      <i class="fa fa-angle-right ml-10"></i>
    </div>
  </div>
</div>

<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fa fa-file bg-icon"></i> 
      <div class="icon-div">
        <p class="font-bold">Explore market maps</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
      <input class="w-90 bg-transparent" type="text" placeholder="Search a company">
      <i class="fa fa-angle-right ml-10"></i>
    </div>
  </div>
</div>

<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fa fa-chart-pie bg-icon"></i> 
      <div class="icon-div">
        <p class="font-bold">Identify potential acquires</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
      <input class="w-90 bg-transparent" type="text" placeholder="Search a company">
      <i class="fa fa-angle-right ml-10"></i>
    </div>
  </div>
</div>

<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fa fa-sign-in-alt bg-icon"></i>
      <div class="icon-div">
        <p class="font-bold">Identify companies due for exit</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
    </div>
    <input class="w-90 bg-transparent" type="text" placeholder="Search a company">
    <i class="fa fa-angle-right ml-10"></i>
  </div>
</div>

<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fas fa-chart-line bg-icon"></i> 
      <div class="icon-div">
        <p class="font-bold">Identify growth companies</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
    </div>
    <input class="w-90 bg-transparent" type="text" placeholder="Search a company">
    <i class="fa fa-angle-right ml-10"></i>
  </div>
</div>
  