<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fa fa-project-diagram bg-icon"></i>
      <div class="icon-div">
        <p class="font-style">Find strategic gaps</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
      <div class="d-flex">
        <input class="border-design w-90 bg-transparent" type="text" placeholder="Search a company">
        <i class="fa fa-angle-right ml-20 mt-10"></i>
      </div>
    </div>
  </div>
</div>

<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fa fa-file bg-icon"></i> 
      <div class="icon-div">
        <p class="font-style">Explore market maps</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
      <div class="d-flex">
        <input class="border-design w-90 bg-transparent" type="text" placeholder="Search a company">
        <i class="fa fa-angle-right ml-20 mt-10"></i>
      </div>
    </div>
  </div>
</div>

<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fa fa-chart-pie bg-icon"></i> 
      <div class="icon-div">
        <p class="font-style line-height-20">Identify potential acquires</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
      <div class="d-flex">
        <input class="border-design w-90 bg-transparent" type="text" placeholder="Search a company">
        <i class="fa fa-angle-right ml-20 mt-10"></i>
      </div>
    </div>
  </div>
</div>

<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fa fa-sign-in-alt bg-icon"></i>
      <div class="icon-div">
        <p class="font-style line-height-20">Identify companies due for exit</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
    </div>
    <div class="d-flex">
      <input class="border-design w-90 bg-transparent" type="text" placeholder="Search a company">
      <i class="fa fa-angle-right ml-20 mt-10"></i>
    </div>
  </div>
</div>

<div class="card card-design mt-20">
  <div class="card-body">
    <div>
      <i class="fas fa-chart-line bg-icon"></i> 
      <div class="icon-div">
        <p class="font-style">Identify growth companies</p>
        <p class="font-light">Lorem ipsum dolor sit amet,</p>
      </div>
    </div>
    <div class="d-flex">
      <input class="border-design w-90 bg-transparent" type="text" placeholder="Search a company">
      <i class="fa fa-angle-right ml-20 mt-10"></i>
    </div>
  </div>
</div>
  