.mt-20{
  margin-top: 20px;
}

.mt-10{
  margin-top: 10px !important;
}

.line-height-20{
  line-height: 20px;
}

.ml-10{
  margin-left: 10px;
}

.ml-20{
  margin-left: 20px !important;
}

.w-90{
  width: 90%;
}

.card-design{
  background-color: #090909;
  color: white;
}

.bg-transparent{
  background-color: transparent;
}

.bg-icon{
  background-color: #50091B;
  padding: 10px;
  border-radius: 4px;
  color: #B50A34;
  margin-right: 10px;
  width: 38px;
  text-align: center;
}

.icon-div{
  margin-left: 50px;
  margin-top: -34px;
  line-height: 0.5;
}

.font-bold{
  font-weight: 900;
}

.font-style{
  font-weight: 300;
  font-size: 18px;
}

.font-light{
  font-size: 14px;
  color: #8a8a8a;
}

.border-design{
  border: 1px solid #212429 !important;
  border-radius: 2px !important;
  padding: 5px;
  padding-left: 10px;
  color: white;
}