.full-height{
  height: 100vh;
}

.bg-black{
  background-color: black;
}

.right-position{
  position: fixed;
  right: 0;
  height: calc(100vh - 75px);
  overflow-y: scroll;
}

.mt-75{
  margin-top: 75px;
}