<div class="row">
  <div class="col-md-12">
    <div class="card mt-20 card-design">
      <div class="card-body">
        <div class="text-white">
          <!-- This is some text within a card body. <br> -->
          <div class="font-18"> Choose from our smart filters</div>
          <p class="font-12 secondary-font-color mb-0">Lorem ipsum dolor sit amet, consectetur</p>
        </div>
        <ul class="nav nav-pills">
          <li class="nav-item" (click)="head.active = !head.active; toogleActive(head)" *ngFor="let head of navHeaders">
            <a class="nav-link" [ngClass]="{'active' : head.active}" href="#">{{head.name}}</a>
          </li>
        </ul>
        <div *ngIf="activeTab == 'Company'">
          <carousel>
            <slide class="">
                <div class="mt-20">
                    <span class="badge badge-design badge-pill tab-design {{tag.class}}" [ngClass]="{'activeTag' : tag.active}" (click)="toogleTag(tag)" *ngFor="let tag of tags">{{tag.name}}</span>
                  </div>
              <div class="row mt-15">
                  <div class="col-md-6 mb-10" [hidden]="data.show" *ngFor="let data of tagData">
                    <div class="border-white p-10">
                      <p class="text-color font-12 mr-10 display-inline">{{data.title}}</p>
                      <span class="badge badge-design badge-pill tab-design pt-4 pb-4 {{data.tag.class}}">{{data.tag.name}}</span>
                    </div>
                  </div>
              </div>
            </slide>
            <slide>
              <div class="mt-30 b-1 p-5">Second Slide</div>
            </slide> 
            <slide>
              <div class="mt-30 b-1 p-5 ">Third Slide</div>
            </slide>
          </carousel>
        </div>
        <div *ngIf="activeTab == 'Investor'">
          <div class="mt-30 b-1 p-5">Investor</div>
        </div>
        <div *ngIf="activeTab == 'Person'">
          <div class="mt-30 b-1 p-5">Person</div>
        </div>
        <div *ngIf="activeTab == 'Sector'">
          <div class="mt-30 b-1 p-5">Sector</div>
        </div>
        <div *ngIf="activeTab == 'Industry'">
          <div class="mt-30 b-1 p-5">Industry</div>
        </div>
        <div *ngIf="activeTab == 'Sub-industry'">
          <div class="mt-30 b-1 p-5">Sub-industry</div>
        </div>
        <div *ngIf="activeTab == 'Region'">
          <div class="mt-30 b-1 p-5">Region</div>
        </div>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-md-6">
        <div class="border-white p-25" style="min-height: 204px;">
          <div class="row">
            <div class="col-md-6">
                <img width="90%" class="" height="" src="../../assets/arrow-graph-growth-21.png">
                <p class="para">Run select use cases for</p>
            </div>
            <div class="col-md-6">
              <a href="" class="li-design w-100 mr-0">Buy side PE</a>
              <a class="li-design w-100 mr-0">Buy side Corporate</a>
              <a class="li-design w-100 mr-0">Sell side</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="border-white p-25" style="min-height: 204px;"m>
          <div class="row">
            <div class="col-md-4">
              <div class="height-image">
                <img width="100%" class="" height="" src="../../assets/01-4.png">
              </div>
              <p class="para" style="bottom: -21px;">Top<br>charts</p>
            </div>
            <div class="col-md-8">
                <a class="li-design">Acquirers</a>
                <a class="li-design">Founders</a>
                <a class="li-design">Institutional Investors</a>
                <a class="li-design">Boardmembers</a>
                <a class="li-design">Investment partners</a>
                <a class="li-design">Corporate VCs</a>
                <a class="li-design">Smart money investors</a>
                <a class="li-design">Private equity</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-design mt-20">
      <div class="card-body">
        <div class="text-white">
            <!-- This is some text within a card body. <br> -->
            <div class="font-18"> Discover the population sectors we track</div>
            <p class="font-12 secondary-font-color mb-0">Lorem ipsum dolor sit amet, consectetur</p>
          </div>
        <div class="mt-20">
          <span class="badge badge-design badge-pill color-dark" [ngClass]="{'active-anchor' : !sector.active}" (click)="toogleSector(sector)" *ngFor="let sector of sectorData1">{{sector.title}}</span>
          <span class="badge badge-design badge-pill color-dark" [ngClass]="{'active-anchor' : !sector.active}" (click)="toogleSector(sector)" *ngFor="let sector of sectorData2">{{sector.title}}</span>
        </div>
        <div class="row mt-15">
          <div class="col-md-6">
            <div class="border-design mt-15" [hidden]="sector.active" *ngFor="let sector of sectorData1">
              <div class="d-flex">
                <i class="{{sector.icon}}"></i>
                <div class="space-between">
                  <span class="font-design">{{sector.title}}</span>
                  <span class="sec-font-design">VIEW INDUSTRIES</span>
                </div>
              </div>
              <div class="mt-15">
                <a class="bottom-anchor-design" *ngFor="let tag of sector.sectorTags" href="">{{tag.name}}</a>

              </div>
            </div>
          </div> <!--end of left div-->
          <div class="col-md-6">
              <div class="border-design mt-15" [hidden]="sector.active" *ngFor="let sector of sectorData2">
                <div class="d-flex">
                  <i class="{{sector.icon}}"></i>
                  <div class="space-between">
                    <span class="font-design">{{sector.title}}</span>
                    <span class="sec-font-design">VIEW INDUSTRIES</span>
                  </div>
                </div>
                <div class="mt-15">
                    <a class="bottom-anchor-design" href="" *ngFor="let tag of sector.sectorTags">{{tag.name}}</a>
                  </div>
              </div>
          </div> <!--end of right-->
        </div>
      </div>
    </div>
  </div>
</div>

